<div class="container">
  <h1>Company Information</h1>
  <form>
    <div class="form-group" [ngClass]="{ 'has-error': !companyName.valid || isEmties}">
      <label for="companyName">CompanyName: </label>
      <!--(keydown.space)="$event.preventDefault()"-->
      <input type="text" id="companyName"
             name="companyName" class="form-control"
             [(ngModel)]="company.companyName"
             #companyName="ngModel"
             (keyup)="validateForEmptySpaces(company.companyName)"
             required/>
      <div *ngIf="!companyName.valid || isEmties">
        companyName required
      </div>
    </div>
    <div class="form-group">
      <label for="address1">Address1: </label>
      <input type="text" id="address1"
             name="address1" class="form-control"
             [(ngModel)]="company.address1"
             required/>
    </div>
    <div class="form-group">
      <label for="address2">Address2: </label>
      <input type="text" id="address2"
             [(ngModel)]="company.address2"
             name="address2" class="form-control"
             required/>
    </div>
    <div class="form-group">
      <label for="country">Country: </label>
      <select class="form-control" id="country" name="country" [(ngModel)]="company.conutry">
        <option *ngFor="let country of countries" [value]="country.value">{{country.key}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="country">Date: </label>
      <my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="model" required></my-date-picker>
    </div>

    <button type="button" (click)="cancelCompanyInfo()">Cancel</button>
    <button type="button" class="btn btn-success" (click)="saveCompanyInfo()">Save</button>
  </form>
</div>
