<!--
<h1>
  {{title}}
</h1>

&lt;!&ndash;One-way from data source to view target&ndash;&gt;
<input type="text" value="{{oneway}}" /> <br/> &lt;!&ndash; string interplocation &ndash;&gt;
<input type="text" [value]="oneway" /> <br/> &lt;!&ndash; property binding &ndash;&gt;

<input type="text" ngModel="{{oneway}}" /> <br/> &lt;!&ndash; string interplocation &ndash;&gt;
<input type="text" [ngModel]="oneway" /> <br/> &lt;!&ndash; property binding &ndash;&gt;

<input type="text" bind-ngModel="oneway" (change)="changeValue()" />

<button (click)="showValues()"></button>
<br/>
<br/>
<br/>
<hr>
&lt;!&ndash;Two-way&ndash;&gt;
<input type="text" bindon-ngModel="twoway" (change)="changeTwoWay(twoway)"/><br/>
<input type="text" [(ngModel)]="twoway" (change)="changeTwoWay(twoway)"/>
<br/>
<br/>
<br/>
<hr>

<hero-parent></hero-parent>

<br/>
<br/>
<br/>
<hr>
<comment-widget></comment-widget>
<br/>
<br/>
<br/>
<hr>
<company-form></company-form>
<br/>
<br/>
<hr>
<employee-form></employee-form>
-->
<!--<employee></employee>-->

<!-- Directives -->

<h1>My First Attribute Directive</h1>
<p jkHighlight>Highlight me!</p>

